@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./style/fonts.css);

@layer {
}
* {
  @apply focus:outline-0;
}
body {
  /* bg-LightGray */
  @apply font-matter text-base leading-normal font-normal text-black tracking-[0.1px];
}
.site-wrapper {
  @apply mt-[100px] style-scroll;
  /*  overflow-auto max-h-[calc(100dvh_-_100px)] */
}
.scroll-hide {
  scrollbar-width: none;
}
.scroll-hide::-webkit-scrollbar {
  @apply w-0 h-0;
}
.style-scroll::-webkit-scrollbar {
  @apply w-1.5 h-1.5;
}
.style-scroll::-webkit-scrollbar-thumb {
  @apply rounded-full bg-black/50;
}
.style-scroll::-webkit-scrollbar-track {
  @apply rounded-full bg-LightGray;
}
.textarea-disable-resize {
  @apply resize-none;
}
*::-webkit-search-cancel-button {
  @apply hidden;
}
p:empty {
  @apply hidden;
}
img,
a,
button {
  @apply select-none;
}
.wrapper {
  @apply flex flex-wrap;
}
.hashtag-label {
  @apply inline-block mb-3 w-fit bg-LightWood border border-solid border-PrimaryWood/20 text-black text-sm rounded-full px-3 py-2;
}

/* BUTTON LINK STYLE */
.btn a svg {
  @apply translate-y-0.5;
}
.btn a {
  @apply inline-flex items-center gap-2 w-fit px-5 pt-3.5 pb-3.5 text-base leading-12 rounded-full border border-solid border-transparent transition-all duration-300;
}
.btn.btn-black a {
  @apply bg-black hover:bg-transparent border-black text-white hover:text-black focus:ring-2 focus:ring-offset-2 focus:ring-black/20;
}
.btn.btn-black-border a {
  @apply bg-transparent hover:bg-black border-black text-black hover:text-white focus:ring-2 focus:ring-offset-2 focus:ring-black/20;
}
.btn.btn-offWhite a {
  @apply bg-LightGray hover:bg-black border-LightGray text-black hover:text-white focus:ring-2 focus:ring-offset-2 focus:ring-black/20;
}

.btn.btn-red a {
  @apply bg-PrimaryRed hover:bg-transparent border-PrimaryRed text-white hover:text-PrimaryRed  focus:ring-2 focus:ring-offset-2 focus:ring-PrimaryRed/20;
}
/* BUTTON LINK STYLE */

.section-title .hashtag-label {
  @apply mb-5;
}
.section-title .small-title {
  @apply text-base uppercase leading-normal text-PrimaryWood tracking-widest font-semibold inline-block mb-3.5;
}
.section-title h2,
.section-title .h2 {
  @apply text-[40px] leading-12 font-semibold text-black;
}

.section-title p {
  @apply mt-4 text-base leading-normal text-black/70;
}
.swiper .swiper-wrapper {
  @apply !h-fit;
}
.swiper .swiper-pagination {
  @apply !static mt-30px flex gap-2 items-center justify-center pb-2;
}
.swiper .swiper-pagination-bullet {
  @apply !w-2 !h-2 !opacity-100 !bg-LightWood rounded-full transition-all duration-300 cursor-pointer;
}
.swiper .swiper-pagination-bullet-active {
  @apply !bg-PrimaryWood shadow-PrimaryRing;
}

section:not(#shadow-host-companion) {
  @apply py-10 1200:py-12 1300:py-14 1600:py-70px;
}
section:not(#shadow-host-companion).fill {
  @apply my-10 1200:my-12 1300:my-14 1600:my-70px;
}

/* TAB  */
.tab-list {
  @apply mb-14;
}
.tab-list ul .button {
  @apply rounded-full min-h-[50px] hover:bg-black hover:text-white hover:border-black;
}
.tab-list ul {
  @apply flex flex-wrap gap-2.5;
}
/* TAB  */

/* FILTER */
.filter-wrap {
  @apply relative;
}
.filter-list {
  @apply absolute top-full right-0;
}
.filter-list .inner {
  @apply min-w-[170px] max-w-[250px] max-h-[250px] overflow-auto bg-white shadow-lg shadow-black/10;
}
.filter-list .checkbox-wrap {
  @apply hover:bg-LightGray py-3 px-5 border-b border-solid border-LightWood/50 last:border-b-0;
}
/* FILTER */

.info-text {
  @apply p-6 bg-LightWood/50 border-PrimaryWood/20 border border-solid rounded-lg text-base leading-normal italic font-normal max-w-[540px];
}

.content-base {
  /* @container */
  @apply bg-white p-5 rounded-5px border border-solid border-gray-200;
}

/* FOR LAZY STYLE */
.lazy {
  @apply relative max-w-full w-full;
}

.lazy::before {
  @apply absolute content-[""] w-full h-full bg-200 left-0 top-0 bg-lazyGradient animate-lazy rounded-md z-[1];
}
/* STEP STYLE */

.student-page-header {
  @apply flex justify-between items-center pt-5 mb-9;
}
.filter-title {
  @apply pb-2.5 border-b border-solid border-LightGray flex justify-between;
}
.filter-title p {
  @apply text-xl leading-12 font-medium text-black;
}
.filter-title .filter-count {
  @apply text-PrimaryWood bg-LightWood inline-block text-sm px-1.5 leading-none rounded-full py-0.5;
}
.filter-title .clear-filter {
  @apply text-sm text-PrimaryRed hover:opacity-70 uppercase hover:underline;
}
header.admin-header {
  @apply fixed right-0 top-0 z-[123] w-full max-w-[calc(100%_-_300px)] transition-all duration-300;
}
.admin-content.hide .admin-header {
  @apply max-w-[calc(100%_-_95px)];
}

.step-wrapper {
  @apply flex justify-center mb-30px;
}
.step-item::after {
  @apply w-24 block h-0.5 absolute top-5 right-2 bg-LightWood content-[''] mx-2.5 rounded-full;
}
.step-item {
  @apply pr-32 last:pr-0 relative last:after:hidden;
}
.step-item.active .step-item__number {
  @apply bg-black text-white border-black;
}
.step-wrapper.primary .step-item.active .step-item__number {
  @apply bg-PrimaryWood border-PrimaryWood;
}
.step-item__number {
  @apply flex items-center justify-center text-PrimaryWood font-medium w-12 h-12 rounded-full border border-solid border-PrimaryWood;
}
.step-item__number svg {
  @apply w-7 h-7;
}
.step-item__languages {
  @apply text-PrimaryWood block text-sm leading-12 mt-3.5;
}
.step-item.active .step-item__languages {
  @apply text-black;
}

/*  */
.row {
  @apply flex flex-wrap gap-5;
}
.row .left-part,
.row .right-part {
  @apply w-[calc(50%_-_10px)];
}

.input-label {
  @apply text-base text-black/60 mb-2 leading-tight block;
}

.btn-wrap {
  @apply flex justify-end gap-4 mt-4;
}
.subscription-card {
  @apply p-5 rounded-5px bg-LightWood border border-solid border-PrimaryWood/30 flex flex-col gap-1.5;
}
.subscription-duration {
  @apply inline-block w-fit text-xs text-black bg-PrimaryYellow rounded px-1.5 py-1 font-medium leading-12;
}
.subscription-text {
  @apply font-semibold text-black text-lg leading-12;
}
.subscription-sub-text {
  @apply font-normal text-black/70 text-sm;
}
.subscription-price {
  @apply font-semibold text-black text-sm;
}
.subscription-price span {
  @apply text-PrimaryRed text-xs font-medium;
}

/* USER PROFILE IN TABLE */
.user-profile-data {
  @apply flex gap-2 items-center;
}
.user-profile-image {
  @apply w-8 h-8 rounded-full;
}
.user-profile-image img {
  @apply w-full h-full rounded-full object-cover;
}
.user-profile-name {
  @apply max-w-[calc(100%_-_32px)] w-full flex-1 text-lg font-light text-black h-fit whitespace-nowrap;
}
/* USER PROFILE IN TABLE */
body > div:last-child {
  @apply z-3;
}

/*  */
.topic-option {
  @apply ml-auto relative;
}
.topic-option ul {
  @apply bg-white rounded-10px drop-shadow-lg absolute right-full top-0 -translate-x-4 opacity-0 invisible pointer-events-none transition-all duration-300;
}
.topic-option ul::after {
  @apply absolute content-[''] w-full h-full top-0 -right-30px -z-1;
}
.topic-option:hover ul {
  @apply pointer-events-auto opacity-100 visible translate-x-0;
}
/* .topic-option.active ul {
  @apply pointer-events-auto opacity-100 visible translate-x-0;
} */
.topic-option ul::before {
  @apply absolute content-[''] -right-2 top-2.5 border-y-[8px] border-l-[8px] border-solid border-transparent border-l-white;
}
.topic-option ul li:first-child button,
.topic-option ul li:first-child span {
  @apply rounded-t-10px;
}
.topic-option ul li:last-child button,
.topic-option ul li:last-child span {
  @apply rounded-b-10px;
}

.topic-option ul button,
.topic-option ul li > span {
  @apply flex w-full items-center gap-1.5 p-2.5 cursor-pointer hover:bg-LightWood transition-all duration-300;
}
.topic-option ul button svg,
.topic-option ul li > span svg {
  @apply w-18px h-18px text-PrimaryWood;
}
.topic-option ul li:last-child svg {
  @apply text-PrimaryRed;
}
.topic-option ul li span {
  @apply text-sm text-black whitespace-nowrap select-none;
}
